In [ ]:
import scipy.stats

import numpy as np
import bk.compute
import bk.signal
import bk.plot

import pandas as pd
import os

import matplotlib.pyplot as plt

import neuroseries as nts

%matplotlib qt

In [ ]:
path = 'C://Users/billel.khouader/Documents/'

In [ ]:
os.chdir(path)

In [ ]:
data = pd.read_csv('E23-bkedit.csv',sep = ' ',names = ['Temps','Signal'])

In [ ]:
data.index = data['Temps']

In [ ]:
data = data.drop(columns= 'Temps')

In [ ]:
si = nts.Tsd(data.index.values,scipy.stats.zscore(data.Signal.values-np.mean(data.Signal.values)),time_units='s')

In [ ]:
filt = bk.signal.passband(si,80,250,512)
threshold = 1
vect = filt.values>threshold
top = filt.values<100
bot = filt.values>-100

In [ ]:
v = vect*top*bot

In [10]:
plt.plot(si.as_units('s'))
plt.plot(filt.as_units('s'))
plt.plot(si.as_units('s').index,v*5)

In [10]:
a = bk.compute.TTL_to_intervals(v,512)
inter = nts.IntervalSet(a[0],a[1],time_units='s')
inter = inter.merge_close_intervals(20,time_units = 'ms')
inter = inter.drop_short_intervals(40,time_units = 'ms')
bk.plot.intervals(inter,col='orange')

172791

In [43]:
inter.as_units('s')

            start           end
0      488.539062    488.585937
1      595.851562    595.919921
2      912.437500    912.517578
3      917.681640    917.742187
4      923.150390    923.228515
..            ...           ...
595  42767.679687  42767.742187
596  42771.660156  42771.722656
597  42834.777343  42834.824218
598  42851.353515  42851.406250
599  42936.695312  42936.777343

[600 rows x 2 columns]

In [11]:
%matplotlib qt

In [46]:
plt.plot(si.as_units('s'))

In [76]:
spec = []
a = inter[0:15]
for i,j in zip(a.as_units('s').start,a.as_units('s').end):
    plt.figure()
    ax = plt.subplot(2,1,1)
    plt.plot(si.as_units('s')[i-0.2:j+0.2])
    f,t,Sxx = scipy.signal.spectrogram(si.as_units('s')[(i+j)/2-0.3:(i+j)/2+0.3],fs=512,mode= 'psd',nperseg=25,noverlap=24)
    t = t +si.as_units('s')[i-0.2:j+0.2].index[0]
    plt.subplot(2,1,2,sharex= ax)
    plt.title('Spectrogram')
    plt.pcolormesh(t, f, Sxx)
    plt.ylim(0,150)
    print(Sxx.shape)
    spec.append(Sxx)
    
    plt.savefig('HFO #'+str(i)+'-'+str(j)+'.png')
    
plt.pcolormesh(t, f, np.mean(spec,0))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: MatplotlibDeprecationWarning: shading='flat' when X and Y have the same dimensions as C is deprecated since 3.3.  Either specify the corners of the quadrilaterals with X and Y, or pass shading='auto', 'nearest' or 'gouraud', or set rcParams['pcolor.shading'].  This will become an error two minor releases later.
  # This is added back by InteractiveShellApp.init_path()

(13, 284)
(13, 284)
(13, 283)
(13, 283)
(13, 284)
(13, 283)
(13, 283)
(13, 284)
(13, 284)
(13, 283)
(13, 283)
(13, 283)
(13, 283)
(13, 283)
(13, 283)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

ValueError: could not broadcast input array from shape (13,284) into shape (13)

In [60]:
np.array(spec[0:11,0:288])

TypeError: list indices must be integers or slices, not tuple

In [62]:
plt.pcolormesh(t, f, np.mean(spec,0))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: MatplotlibDeprecationWarning: shading='flat' when X and Y have the same dimensions as C is deprecated since 3.3.  Either specify the corners of the quadrilaterals with X and Y, or pass shading='auto', 'nearest' or 'gouraud', or set rcParams['pcolor.shading'].  This will become an error two minor releases later.
  """Entry point for launching an IPython kernel.

In [74]:
os.curdir

'.'

In [17]:
plt.pcolormesh(t, f, np.mean(spec,0))

array([2.500000e-01, 5.000000e-01, 7.500000e-01, ..., 4.319725e+04,
       4.319750e+04, 4.319775e+04])

In [32]:
a.as_units('s')

         start          end
0     3.808593     3.837890
1   488.539062   488.585937
2   591.820312   591.843750
3   595.851562   595.919921
4   912.437500   912.517578
5   917.681640   917.742187
6   923.150390   923.228515
7   929.179687   929.251953
8  1469.312500  1469.369140
9  1502.644531  1502.728515

In [35]:
si.as_units('ms')[0:50]

Time (ms)
0.000    -0.861009
1.953    -0.876593
3.906    -0.956461
5.859    -1.125938
7.812    -1.254506
9.766    -1.213598
11.719   -1.599303
13.672   -1.149314
15.625   -1.182430
17.578   -1.254506
19.531   -1.326582
21.484   -1.509695
23.438   -1.357750
25.391   -1.133730
27.344   -1.036329
29.297   -1.028537
31.250   -1.092822
33.203   -1.133730
35.156   -1.334374
37.108   -1.285674
39.063   -0.925293
41.016   -1.069445
42.969   -1.309050
44.922   -1.044121
46.875   -1.118146
48.828   -1.036329
dtype: float64

In [ ]:
8329.8